@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 243, 245);
}
html{
    scroll-behavior: smooth;
}

nav{
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(14, 47, 117, 0.5);
    z-index: 1000;
    opacity: 1.5;
    position: sticky;
    top: 0;
}

nav .mainMenu{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
nav .mainMenu li a{
    font-family: Roboto;
    font-size: 25 rem;
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
nav .mainMenu li a:hover{
    background-color: rgb(145, 207, 218);
    color: black;  
}
nav .openMenu{
    font-family: Roboto;
    font-size: 2rem;
    margin: 20px;
    left: 0;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu{
    font-family: Roboto;
    font-size: 2rem;
    left: 0;
    display: none;
    cursor: pointer;
}

@media(max-width: 800px){
    nav .mainMenu{
        height: 50vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;
        font-size: 2rem;
        font-family: Roboto;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background: rgb(34, 33, 33);
        transition: top 1s ease;
        display: none;
        
    }
    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu{
        display: block;
    }
    nav .mainMenu li a:hover{
        background: none;
        color:aquamarine;
        font-size: 3rem;
        font-family: Roboto;
    }
}


/* Home */
#home{
    display: flex;
    flex-direction: column;
    /*background-color: rgba(0, 0 , 0 , 0.5);*/
    background: transparent;
    height: 800px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 6;
    background: url('img1.jpg')no-repeat center center/cover;
    padding: 0;
    height: 867px;
    width: 100%;
    z-index: -1;
    opacity: .8;
    animation: slider 14s infinite steps(180) ;  
}
@keyframes slider{
    0%{background: url('img1.jpg')no-repeat center center/cover;}
    25%{background: url('img2.jpg')no-repeat center center/cover;}
    50%{background: url('img3.jpg')no-repeat center center/cover;}
    75%{background: url('img5.webp')no-repeat center center/cover;}
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 7%;
}
.headings{
    font-family: Roboto;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
    
}
.headings2{
    font-family: Roboto;
    font-size: 1.7rem;
    text-align: center;
    margin: 40px 0px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 7%;
}
.find{
    background-color: #b3cfbb;
}
.search {
    align-items: baseline;
    height: 50px;
    margin-top: 10px;
    margin-left: 500px;
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
    color: #fff;
    font-family: Roboto;
    font-size: 1rem;
    padding: 0.5rem 1rem;

}
.search::placeholder {
    color: #7378c5;
}

.search:focus {
    background-color: #b3cfbb;
    outline: none;
}
/*.searchbox{
    
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2C3441;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.searchbox:hover > input{
    width: 200px;
    padding: 0 10px;
}
.searchbox:hover > .icons{
    background: #536179;
}
.icon:hover{
    transform: rotate(360deg)scale(0.8);
}
input{
    width: 0;
    border: none;
    outline: none;
    padding: 0;
    background: none;
    font-size: 1.1rem;
    transition: 0.5s ease;
    line-height: 40 px;
    color: #fff;
}
.icon{
    color: #21DFCD;
    float: right;
    width: 40px;
    font-size: 1.3 rem;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
}*/
main {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(129, 160, 161);
    
}

.character {
    background-color: #999fda;
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0 , 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;

}

.character img {
    width: 100%;
}




.overview {
    background-color: rgb(150, 163, 163);
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in-out;  
    font-size: large;
    font-family: Roboto;
    font-weight: 600;
    
}

.overview h3 {
    margin-top: 0;
}

.character:hover .overview {
    transform: translateY(0);
}*/
#Custom{

    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(155, 168, 179);
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(202, 108, 108) 50%, rgb(219, 215, 215) 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.box p{
    font-weight: 800;
    font-family: Roboto;
    font-size: 1rem;
}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px gray;
}


.icons{
    background-color: rgb(218, 221, 221);
    min-height: 10vh;
    /*margin-top: 500px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icons a{
    position: relative;
    color: rgb(119, 119, 121);
    font-size: 35px;
}
.icons a:not(:last-child){
    margin-right: 60px;
}
.icons a:hover{
    color: rgb(128, 127, 190);
    transform: scale(1.5);
}

